<!DOCTYPE html>
<html>
<head>
         <link rel="icon" href="/img/weathe.png">
        <link rel="stylesheet" href="/css/style.css"> 
<title>About</title>

</head>

<body>
      <div class="main">  
     {{>header}}
     <p>This site is created by Sunil.</p>
     <p>It uses <a target="_blank" href="https://www.mapbox.com/"> mapbox.com </a> and <a target="_blank" href="https://darksky.net/dev">darksky.net </a></p>
    <img src="img/IMAGE sUNIL.jpg">
    </div>
    {{>footer}}

</body>
</html>